@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: var(--Soft-blue);   
}

:root {
--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

.wrapper-out {
    height: 600px;
    width: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
}

.wrapper {
    height: 540px;
    width: 305px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
}

.img-container {
    position: relative;
}

.img-container .image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img-container .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
}

.img-container:hover .icon {
    opacity: 1; 
}

.img-container .filter-green {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: var(--Cyan);
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
}

.img-container:hover .filter-green {
    opacity: 0.5;
}

.wrapper > h1 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.6em;
    color: white;
}

.wrapper > h1:hover {
    color: var(--Cyan);
}

.wrapper > p {
    margin-top: 20px;
    font-size: 1.2em;
    color: var(--Grayish-blue);
}

.wrapper > .status {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status > .status-ethereum {
    display: flex;
    align-items: center;
}

.status > .status-days {
    display: flex;
    align-items: center;
}

.status-ethereum > span {
    margin-left: 5px;
    font-weight: 700;
    color: var(--Cyan);
}

.status-days > span {
    margin-left: 5px;
}

.wrapper > .line {
    height: 1px;
    width: 100%;
    background-color: hsl(215, 32%, 27%);
}

.wrapper > .autor {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.autor > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 15px;
}

.autor > span > strong {
    color: white;
}

.autor > span > strong:hover {
    color: var(--Cyan);
}


.attribution {
    margin-top: 20px;
}


@media only screen and (max-width: 600px) {

body {
    justify-content: flex-start;
}

.wrapper-out {
    margin-top: 20px;
}

}