* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  /* Estilo para o contêiner principal */
  .scanner-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(50, 60, 196, 0.349); /* Fundo escuro com opacidade */
    display: none;
    justify-content: center;
    align-items: center;
  }

  .centralizador {
    background-color: transparent;
    width: 70%;
    height: 100px;
    border-radius: 20px;
    border: 3px dashed black;
  }

  /* Estilo para o vídeo da câmera */
  video {
    height: 100%;
    width: 100%;
  }