@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    color: white;
}

.container {
    height: max-content;
    max-width: 1080px;
    min-width: 720px;
    display: flex;
    background-color: hsl(244, 38%, 16%);
    border-radius: 15px;
}

.container > .img-container {
    height: auto;
    width: 50%;
    
}

.img-container > img {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 0 15px 15px 0;
}

.container > .info-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info-container > .info {
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 40px;
}

.info > h1 {
    font-size: 2.2em;
}

.info h1 > strong {
    color: hsl(277, 64%, 61%);
}

.info > p {
    margin-top: 30px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}

.info > .status-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.status-container > .status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.status > .value {
    font-weight: 700;
    padding: 5px;
}

.status > .type {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-size: 0.7em;
}

.attribution {
    margin-top: 20px;
}

@media all (max-width: 1080px) {
    
}