* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/static/Figtree-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6D050;
    font-family: 'Figtree';
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 325px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 7px 7px black;
}

.image {
    max-width: 100%;
    border-radius: 10px;
}

.topic {
    width: min-content;
    margin-top: 25px;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #F6D050;
    font-weight: bold;
    font-size: 0.9em;
}

.published {
    margin-top: 15px;
    font-weight: 600;
}

h1 {
    margin-top: 15px;
    font-size: 1.5em;
}

p {
    margin-top: 15px;
    color: gray;
}

.autor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.autor > img {
    width: 40px;
    height: 40px;
}

.autor > span {
    margin-left: 10px;
}

.attribution {
    margin-top: 50px;
}